# Mac crap
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Old makefiles from makedepend
Makefile.bak

# GDB trash
.gdb_history

# Project binary
src/gibson
MacBuild/build
MacBuild/gibson.xcodeproj/xcuserdata
MacBuild/gibson.xcodeproj/project.xcworkspace
